@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #111;
    color: white;
    font-family: 'Source Serif Pro', serif;
}

.bg {
    background: #111;
}

.elements {
    @apply grid;

    grid-template-columns: repeat(18, 1fr);
}

.name {
    font-size: 0.65rem;
}

.empty {
    background: #111;
}
